<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2021 The LineageOS Project

     SPDX-License-Identifier: Apache-2.0
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:sharedUserId="android.uid.system"
          package="org.lineageos.keyhandler">

    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
    <uses-permission android:name="android.permission.INJECT_EVENTS"/>

    <uses-sdk android:targetSdkVersion="29"/>

    <application
        android:label="Screen off FOD"
        android:persistent="true"
        android:supportsRtl="true">

        <activity
            android:name=".KeyHandlerActivity"
            android:label="@string/sof_title"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>

            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.display" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/sof_summary" />
            <meta-data
                android:name="com.android.settings.order"
                android:value="8" />
        </activity>
    </application>
</manifest>
